
          <div class="publications">
            <h2 class="year">2020</h2>
            <div>
            <a style="font-size: 0.95rem;"><b>Adaptive divergence for rapid adversarial optimization</b></a>
            <br>
            <a style="font-size: 0.95rem;">Maxim Borisyak, <u><i>Tatiana Gaintseva</i></u>, and Andrey Ustyuzhanin</a>
            <br>
            <a style="font-size: 0.95rem;">PeerJ Computer Science, 6, e274.</a>
            <br>
            <a style="font-size: 0.95rem;">[<a href="https://peerj.com/articles/cs-274/">paper on PeerJ</a>, <a href="https://arxiv.org/abs/1912.00520">arxiv</a>]</a>
            </div>
            <br>        
            <div>
            <a style="font-size: 0.95rem;"><b>Autoencoders for Compression and Simulation in Particle Physics</b></a>
            <br>
            <a style="font-size: 0.95rem;">Constantin Weisser, Daniel Craik, <u><i>Tatiana Gaintseva</i></u>, Artem Ryzhikov, Andrey Ustyuzhanin, Mike Williams</a>
            <br>
            <a style="font-size: 0.95rem;"><b>ICLR</b> FSAI</a>
            <br>
            <a style="font-size: 0.95rem;">[<a href="https://slideslive.com/38926198/autoencoders-for-compression-and-simulation-in-particle-physics">ICLR talk</a>, <a href="https://drive.google.com/file/d/1r2nDhkQLCpk32thTj2u23bjaa07KH1-o/view">pdf</a>]</a>
            </div>
          </div>
