
          <div class="publications">
            <h2 class="year">2024</h2>
            <div>
            <a style="font-size: 0.95rem;"><b>Improving Interpretability and Robustness for the Detection of AI-Generated Images</b></a>
            <br>
            <a style="font-size: 0.95rem;"><u><i>Tatiana Gaintseva</i></u>, Laida Kushnareva, German Magai, Irina Piontkovskaya, Sergey Nikolenko, Martin Benning, Serguei Barannikov, Gregory Slabaugh</a>
            <br>
            <a style="font-size: 0.95rem;">arxiv preprint</a>
            <br>
            <a style="font-size: 0.95rem;">[<a href="https://arxiv.org/abs/2406.15035">paper on arxiv</a>]</a>
            </div>
            <br>
            <div>
            <a style="font-size: 0.95rem;"><b>RAVE: Residual Vector Embedding for CLIP-Guided Backlit Image Enhancement</b></a>
            <br>
            <a style="font-size: 0.95rem;"><u><i>Tatiana Gaintseva</i></u>, Martin Benning, Gregory Slabaugh</a>
            <br>
            <a style="font-size: 0.95rem;">arxiv preprint</a>
            <br>
            <a style="font-size: 0.95rem;">[<a href="https://arxiv.org/abs/2404.01889">paper on arxiv</a>]</a>
            </div>
            <br>
            <div>
            <a style="font-size: 0.95rem;"><b>AI-generated text boundary detection with RoFT</b></a>
            <br>
            <a style="font-size: 0.95rem;">Laida Kushnareva, <u><i>Tatiana Gaintseva</i></u>, German Magai, Serguei Barannikov, Dmitry Abulkhanov, Kristian Kuznetsov, Eduard Tulchinskii, Irina Piontkovskaya, Sergey Nikolenko</a>
            <br>
            <a style="font-size: 0.95rem;">arxiv preprint</a>
            <br>
            <a style="font-size: 0.95rem;">[<a href="https://arxiv.org/abs/2311.08349">paper on arxiv</a>]</a>
            </div>
            <h2 class="year">2020</h2>
            <div>
            <a style="font-size: 0.95rem;"><b>Adaptive divergence for rapid adversarial optimization</b></a>
            <br>
            <a style="font-size: 0.95rem;">Maxim Borisyak, <u><i>Tatiana Gaintseva</i></u>, and Andrey Ustyuzhanin</a>
            <br>
            <a style="font-size: 0.95rem;">PeerJ Computer Science, 6, e274. (2020)</a>
            <br>
            <a style="font-size: 0.95rem;">[<a href="https://peerj.com/articles/cs-274/">paper on PeerJ</a>, <a href="https://arxiv.org/abs/1912.00520">arxiv</a>]</a>
            </div>
            <br>        
            <div>
            <a style="font-size: 0.95rem;"><b>Autoencoders for Compression and Simulation in Particle Physics</b></a>
            <br>
            <a style="font-size: 0.95rem;">Constantin Weisser, Daniel Craik, <u><i>Tatiana Gaintseva</i></u>, Artem Ryzhikov, Andrey Ustyuzhanin, Mike Williams</a>
            <br>
            <a style="font-size: 0.95rem;"><b>ICLR</b> FSAI 2020</a>
            <br>
            <a style="font-size: 0.95rem;">[<a href="https://slideslive.com/38926198/autoencoders-for-compression-and-simulation-in-particle-physics">ICLR talk</a>, <a href="https://drive.google.com/file/d/1r2nDhkQLCpk32thTj2u23bjaa07KH1-o/view">pdf</a>]</a>
            </div>
          </div>
