
          <div class="publications">
            <h2 class="year">2020</h2>
            <div>
            <a style="font-size: 0.95rem;"><b>Adaptive divergence for rapid adversarial optimization</b></a>
            <a style="font-size: 0.95rem;">Maxim Borisyak, <u><i>Tatiana Gaintseva</i></u>, and Andrey Ustyuzhanin</a>
            <a style="font-size: 0.95rem;">PeerJ Computer Science, 6, e274.</a>
            <a style="font-size: 0.95rem;"><a href="https://peerj.com/articles/cs-274/">Paper on PeerJ</a>, <a href="https://arxiv.org/abs/1912.00520">arxiv</a></a>
            </div>
          </div>
