/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
//   padding-left: 300px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

body.sidenav {
//   height: 100%; /* Full-height: remove this if you want "auto" height */
//   width: 300px; /* Set the width of the sidebar */
//   position: relative; /* Fixed Sidebar (stay in place on scroll) */
//   top: 56px; /* Stay at the top */
//   left: 5%;
//   overflow-x: hidden; /* Disable horizontal scroll */
//   padding-top: 20px;
  
  position: relative;
//   float: right;
  
  width: 300px;
  margin-left: span(0.5 of 12);
  display: inline-block;
  z-index: 10;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
